@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-navy text-white font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }
}